REACT_APP_AIRLINES_API_URL=https://YOUR_CODESPACE_AIRLINES_URL.app.github.dev/airlines
REACT_APP_FLIGHTS_API_URL=https://YOUR_CODESPACE_FLIGHTS_URL.app.github.dev/flights

CLOUD_OTLP_ENDPOINT="https://YOUR_OTLP_ENDPOINT.grafana.net/otlp"
CLOUD_OTLP_USERNAME="YOUR_OTLP_USERNAME"
CLOUD_OTLP_PASSWORD="YOUR_OTLP_TOKEN"
